.sidemenu{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--side-menu-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidemenu-home{
    height: 60px;   
}

.sidemenu-chatrooms{
    height: calc(100vh - 60px - 120px - 14px - 14px);    
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidemenu-setting{
    height: 120px;   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-cloud-moon{
    color: var(--side-menu-text-primary);
    font-size: 30px;  
}

.fa-cloud-moon:hover{
    cursor: pointer;
}

.line{
    margin-top: 12px;
    height: 2px;
    width: 60%;
    background-color: hsla(0,0%,100%,0.06);
}

.fa-power-off{    
    color: var(--side-menu-text-primary);
    font-size: 30px;
    margin-top: 20px;
}

.fa-power-off:hover{
    cursor: pointer;
}       