*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.layout-container{
    height: 100vh !important;
    width: 100vw !important;
    display: flex !important;
    flex-direction: row !important;
}

.layout-sidemenu{
    height: 100vh;
    width: 72px;
    margin: 0;
    padding: 0;
}

.layout-chatbox{
    height: 100vh;
    width: calc(100vw - 72px);
    background-color: var(--chatroom-navbar-primary);
}