.username-input-field{
    width: 100%;
    margin-bottom: 10px !important;
}

.password-input-field{
    width: 100%;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

.form-errors{
    color: red;
    margin-top: -5px;
    margin-bottom: 5px;
}