
.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}
.h-100{
    height: 100%;
}
.fg-2 {
    flex-grow: 2;
}

.fw-bold {
    font-weight: bold;
}

.navbar-toolbar {
    justify-content: space-between;
    align-items: center;
}

.homeNavbar> .active {
    background-color: var(--home-navbar-active-primary) !important;
    color: white;
    font-weight: bold;
} 
.homeNavbar > .item > span ,.homeNavbar > .item > i{
    font-size: 14px !important;
}

 .direct-message-heading{
    color: var(--home-private-channels-heading);
    font-size: 12px;
 }
 .overflow-scroll {
     overflow: scroll;
     scrollbar-width: none;
     -ms-overflow-style: none;
 }
 .overflow-scroll::-webkit-scrollbar {
    display: none;
  }

/* .exploremenu-option{
    width: 90% !important;  
    height: 100% !important;
    padding-left: 10%;
} */